*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video{
    object-fit: cover;
}

section{
    background:#000000 ;
}

h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #b81cab;
    font-size: 5em;
    font-family: sans-serif;
}

h3 span{
    display: inline-block;
    animation: animate 1s  ease-in-out;

}

@keyframes animate{
    0%{
        opacity: 0%;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
}
}
h1 span:nth-child(1)
{
    animation-delay: 0.6s;
}
h1 span:nth-child(2)
{
    animation-delay: 1s;
}
h1 span:nth-child(3)
{
    animation-delay: 1.7s;
}
h1 span:nth-child(4)
{
    animation-delay: 2.3s;
}
h1 span:nth-child(5)

/* Estilo base del texto */
.rainbow-text {
    font-family: 'TIMES NEW ROMAN', Times, serif;
    font-size: 2em;
    text-transform: uppercase; /* Opcional: convierte el texto en mayúsculas */
}

/* Animación de arcoíris */
@keyframes rainbow {
    5% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

/* Aplicar la animación al texto */
.rainbow-text {
    animation: rainbow 7s linear infinite;
}
